In [1]:
import numpy as np
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [2]:
Movie_Data = pd.read_csv('movies_metadata.csv')

In [3]:
Movie_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
Movie_Data.shape

(45466, 24)

In [5]:
Movie_Data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [6]:
Movie_Data['id'][Movie_Data['id']=='2014-01-01']

35587    2014-01-01
Name: id, dtype: object

In [7]:
Movie_Data['imdb_id'].iloc[29503]

'0'

In [8]:
Movie_Data.drop(axis=0, index=[29503,19730,35587], inplace=True)

In [9]:
Movie_Data['id']= Movie_Data['id'].astype(int)

In [10]:
Cols = ['genres','id','original_title']

In [11]:
Movie_Data_New = Movie_Data[Cols]

In [12]:
Movie_Data_New.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45463 entries, 0 to 45465
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          45463 non-null  object
 1   id              45463 non-null  int32
 2   original_title  45463 non-null  object
dtypes: int32(1), object(2)
memory usage: 1.2+ MB

In [13]:
Movie_Data_New.sort_values(by = "id", axis=0, ascending=True,inplace=True)

In [14]:
Movie_Data_New.head(5)

,genres,id,original_title
4342,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",2,Ariel
12947,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",3,Varjoja paratiisissa
17,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",5,Four Rooms
474,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",6,Judgment Night
256,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",11,Star Wars

In [15]:
import ast

In [16]:
Movie_Data_New['genres'] = Movie_Data_New['genres'].map(lambda x: ast.literal_eval(x))

In [17]:
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [18]:
Movie_Data_New['genres_list'] = Movie_Data_New['genres'].map(lambda x: make_genresList(x))

In [19]:
Movie_Data_New.drop(axis=1,columns=["genres"], inplace=True)

In [20]:
Movie_Data_New.head()

       id        original_title              genres_list
4342    2                 Ariel              Drama Crime
12947   3  Varjoja paratiisissa             Drama Comedy
17      5            Four Rooms             Crime Comedy
474     6        Judgment Night    Action Thriller Crime
256    11             Star Wars  Adventure Action Sci-Fi

In [21]:
Movies_Data_Small = Movie_Data_New[0:12000]

In [22]:
Movies_Data_Small.shape

(12000, 3)

In [23]:
Credits = pd.read_csv('Credit_Data.csv')

In [24]:
Credits.sort_values(by = "id", axis=0, ascending=True,inplace=True)

In [25]:
Credits.head(5)

,id,Actor1,Actor2,Actor3,Director_Name
4342,2,Turo Pajala,Susanna Haavisto,Matti Pellonpää,Aki Kaurismäki
12947,3,Matti Pellonpää,Kati Outinen,Sakari Kuosmanen,Aki Kaurismäki
17,5,Tim Roth,Antonio Banderas,Jennifer Beals,Allison Anders Alexandre Rockwell Robert Rodri...
474,6,Emilio Estevez,Cuba Gooding Jr.,Denis Leary,Stephen Hopkins
256,11,Mark Hamill,Harrison Ford,Carrie Fisher,George Lucas

In [26]:
Credits.sort_values(by = "id", axis=0, ascending=True,inplace=True)

In [27]:
Credits.head(5)

,id,Actor1,Actor2,Actor3,Director_Name
4342,2,Turo Pajala,Susanna Haavisto,Matti Pellonpää,Aki Kaurismäki
12947,3,Matti Pellonpää,Kati Outinen,Sakari Kuosmanen,Aki Kaurismäki
17,5,Tim Roth,Antonio Banderas,Jennifer Beals,Allison Anders Alexandre Rockwell Robert Rodri...
474,6,Emilio Estevez,Cuba Gooding Jr.,Denis Leary,Stephen Hopkins
256,11,Mark Hamill,Harrison Ford,Carrie Fisher,George Lucas

In [28]:
Credit_Data_Small = Credits[0:12000]

In [29]:
Final_Data = pd.merge(Credit_Data_Small,Movies_Data_Small,on='id',how= 'left')

In [30]:
Final_Data.tail(50)

,id,Actor1,Actor2,Actor3,Director_Name,original_title,genres_list
11974,27679,Max Gail,Adam Baldwin,Mr. T,Joel Schumacher,D.C. Cab,Adventure Comedy Crime
11975,27681,Katherine Heigl,Danielle Harris,Donnie Jeffcoat,Blair Treu,Wish Upon a Star,Family Comedy Fantasy
11976,27683,Michael Keaton,Brendan Fraser,Daniel Stern,Michael Caleo,The Last Time,Drama Romance
11977,27686,Jeanne Crain,Dana Andrews,Dick Haymes,Walter Lang,State Fair,Music Romance
11978,27696,Tina Krause,Jacqueline Hickel,Mickey Rooney,Mark Vadik,The Thirsting,Horror
11979,27698,Shun Oguri,Yūsuke Santamaria,Keisuke Koide,Yûichi Satô,キサラギ,Comedy Mystery
11980,27699,Howard Vernon,Conrado San Martín,Diana Lorys,Jesús Franco,Gritos en la noche,Horror Thriller
11981,27703,Jennifer O'Neill,Gabriele Ferzetti,Marc Porel,Lucio Fulci,Sette note in nero,Mystery Thriller Horror
11982,27706,Richard Johnson,Joanna Cassidy,Ida Galli,Massimo Dallamano,Il medaglione insanguinato,Horror
11983,27709,George Maharis,Richard Basehart,Anne Francis,John Sturges,The Satan Bug,Mystery Sci-Fi Thriller Crime
11984,27711,Ángel Vargas,Vera Yell,Lee Marks,Craig Ross Jr.,Killjoy,Horror
11985,27712,Logan Alexander,Debbie Rochon,Trent Haaga,Tammi Sutton,Killjoy 2: Deliverance from Evil,Horror
11986,27716,Barry White,Charles Gordone,Scatman Crothers,Ralph Bakshi,Coonskin,Action Animation Comedy Crime Drama
11987,27717,Dean Fredericks,Coleen Gray,Anthony Dexter,William Marshall,The Phantom Planet,Sci-Fi
11988,27719,Dolph Lundgren,Roy Scheider,Michael Sarrazin,Frédéric Forestier,The Peacekeeper,Action Thriller
11989,27721,Nejat İşler,Melis Birkan,Çağan Irmak,Serdar Akar,Barda,Drama
11990,27723,Lauren Ambrose,Nicholas Brendon,Amy Adams,Robert Lee King,Psycho Beach Party,Comedy
11991,27724,Kristi Casey,David Weber,Zoe Cooper,Bret Wood,Psychopathia Sexualis,Drama Romance
11992,27725,Ida Lupino,Humphrey Bogart,Alan Curtis,Raoul Walsh,High Sierra,Adventure Drama Thriller Crime
11993,27726,Michael Moriarty,Candy Clark,Richard Roundtree,Larry Cohen,Q,Drama Horror Fantasy
11994,27730,Cornélia Wilms,Véronique Catanzaro,Patrick Guillemin,Pierre B. Reinhard,La revanche des mortes vivantes,Horror Foreign
11995,27735,Matthew Broderick,Sanaa Lathan,Michael Kenneth Williams,Joshua Goldin,Wonderful World,Comedy Drama Romance
11996,27738,Joaquin Phoenix,Peter Billingsley,Whip Hubley,Rick Rosenthal,Russkies,Drama Family
11997,27739,Joseph Haggerty,Beverly Lynne,Janet Tracy Keijser,Brad Sykes,The Zombie Chronicles,NaN
11998,27740,Michael Moriarty,Ricky Addison Reed,Samuel Fuller,Larry Cohen,A Return to Salem's Lot,Horror
11999,27742,Koji Yakusho,Jun Fubuki,Tsuyoshi Kusanagi,Kiyoshi Kurosawa,降霊,Drama Horror
12000,27743,Thomas Haden Church,Justin Urich,Lisa Loeb,Trace Slobotkin,Serial Killing 4 Dummys,Horror Comedy
12001,27745,John Lydon,Steve Jones,Paul Cook,Julien Temple,The Filth and the Fury,Documentary Music
12002,27748,Melvin Chen,Erick Chun,Melvin Lee,Royston Tan,15: The Movie,Comedy Crime Drama Foreign
12003,27757,Kath Soucie,Frank Welker,NaN,Dave Edwards,The Little Engine That Could,Action Adventure Family
12004,27759,Charlton Heston,Ava Gardner,David Niven,Nicholas Ray Guy Green,55 Days at Peking,Action Drama History
12005,27764,Jennifer Rhodes,Kimberly McArthur,Patrick Lowe,Deborah Brock,Slumber Party Massacre II,Horror Comedy
12006,27766,Debbie Rochon,Grant Kramer,John Mowod,John A. Russo,Santa Claws,Horror
12007,27767,Keely Christian,Brittain Frye,Maria Ford,Sally Mattison,Slumber Party Massacre III,Horror Comedy
12008,27768,Billy Bob Thornton,Molly Ringwald,J.T. Walsh,George Hickenlooper,Some Folks Call It a Sling Blade,Drama Thriller
12009,27769,Tim Matheson,Brooke Adams,Robert Rusler,Tom McLoughlin,Sometimes They Come Back,Drama Horror Thriller
12010,27770,Michael Gross,Alexis Arquette,Hilary Swank,Adam Grossman,Sometimes They Come Back... Again,Horror
12011,27771,Clayton Rohner,Faith Ford,Max Perlich,Daniel Zelik Berk,Sometimes They Come Back... for More,Horror
12012,27777,Thomas Meighan,Louis Wolheim,Marie Prevost,Lewis Milestone,The Racket,Crime Drama
12013,27786,Patrick Swayze,Lisa Niemi,Anthony Zerbe,Lance Hool,Steel Dawn,Action Adventure Sci-Fi
12014,27791,Kevin Gage,Elizabeth Peña,Brett Harrelson,John Pieplow,Strangeland,Horror
12015,27793,Jason James Richter,Melody Kay,Kevin McNulty,Peter MacDonald,The NeverEnding Story III,Fantasy
12016,27799,Anne Suzuki,Yu Aoi,Tomohiro Kaku,Shunji Iwai,花とアリス,Drama Comedy Romance
12017,27804,River Phoenix,Samantha Mathis,Dermot Mulroney,Peter Bogdanovich,The Thing Called Love,Music Drama Romance
12018,27805,Grant Page,Monique van de Ven,Margaret Gerard,Brian Trenchard-Smith,Stunt Rock,Action Drama Music
12019,27813,Kevin Van Hentenryck,Terri Susan Smith,Beverly Bonner,Frank Henenlotter,Basket Case,Comedy Horror
12020,27814,Rick Hearst,Jennifer Lowry,Gordon MacDonald,Frank Henenlotter,Brain Damage,Comedy Horror
12021,27815,Kevin Van Hentenryck,Annie Ross,Heather Rattray,Frank Henenlotter,Basket Case 2,Horror
12022,27816,Kevin Van Hentenryck,Annie Ross,Gil Roper,Frank Henenlotter,Basket Case 3,Horror
12023,27824,Dan Montgomery Jr.,David Arnott,Jeri Ryan,Harry Ralston,The Last Man,Comedy

In [31]:
Final_Data.shape

(12024, 7)

In [32]:
Final_Data.tail()

,id,Actor1,Actor2,Actor3,Director_Name,original_title,genres_list
12019,27813,Kevin Van Hentenryck,Terri Susan Smith,Beverly Bonner,Frank Henenlotter,Basket Case,Comedy Horror
12020,27814,Rick Hearst,Jennifer Lowry,Gordon MacDonald,Frank Henenlotter,Brain Damage,Comedy Horror
12021,27815,Kevin Van Hentenryck,Annie Ross,Heather Rattray,Frank Henenlotter,Basket Case 2,Horror
12022,27816,Kevin Van Hentenryck,Annie Ross,Gil Roper,Frank Henenlotter,Basket Case 3,Horror
12023,27824,Dan Montgomery Jr.,David Arnott,Jeri Ryan,Harry Ralston,The Last Man,Comedy

In [33]:
Final_Data.nunique()

id                11982
Actor1             5332
Actor2             6972
Actor3             7816
Director_Name      5626
original_title    11704
genres_list        2052
dtype: int64

In [34]:
Final_Data.isnull().sum()

id                  0
Actor1            117
Actor2            273
Actor3            371
Director_Name      51
original_title      0
genres_list        29
dtype: int64

In [35]:
Final_Data.dropna(how= 'any', inplace=True)

In [36]:
Final_Data.isnull().sum()

id                0
Actor1            0
Actor2            0
Actor3            0
Director_Name     0
original_title    0
genres_list       0
dtype: int64

In [37]:
Final_Data.shape

(11606, 7)

In [38]:
Final_Data.nunique()

id                11567
Actor1             5167
Actor2             6869
Actor3             7780
Director_Name      5390
original_title    11294
genres_list        2011
dtype: int64

In [39]:
Final_Data.drop_duplicates(subset="original_title", keep="last", inplace=True)

In [40]:
Final_Data.shape

(11294, 7)

In [41]:
Final_Data.columns

Index(['id', 'Actor1', 'Actor2', 'Actor3', 'Director_Name', 'original_title',
       'genres_list'],
      dtype='object')

In [42]:
Final_Data["Comb"] = Final_Data["Actor1"]+ ' ' + Final_Data['Actor2']+ ' ' + Final_Data['Actor3']+ ' ' + Final_Data['Director_Name']+' '+ Final_Data['genres_list']

In [43]:
Final_Data.shape

(11294, 8)

In [44]:
Final_Data.to_csv('Final_Data.csv',index=False, header=True)