In [34]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [35]:
Credit_Data =  pd.read_csv('credits.csv', na_values=[""," ","N/A"])

In [36]:
Credit_Data.head(10)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949
6,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",11860
7,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",45325
8,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9091
9,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710

In [37]:
Credit_Data['cast'].head(10)

0    [{'cast_id': 14, 'character': 'Woody (voice)',...
1    [{'cast_id': 1, 'character': 'Alan Parrish', '...
2    [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3    [{'cast_id': 1, 'character': "Savannah 'Vannah...
4    [{'cast_id': 1, 'character': 'George Banks', '...
5    [{'cast_id': 25, 'character': 'Lt. Vincent Han...
6    [{'cast_id': 1, 'character': 'Linus Larrabee',...
7    [{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...
8    [{'cast_id': 1, 'character': 'Darren Francis T...
9    [{'cast_id': 1, 'character': 'James Bond', 'cr...
Name: cast, dtype: object

In [38]:
Credit_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [39]:
import ast

In [40]:
Credit_Data['crew'] = Credit_Data['crew'].map(lambda x: ast.literal_eval(x))

In [41]:
Credit_Data['cast'] = Credit_Data['cast'].map(lambda x: ast.literal_eval(x))

In [42]:
Credit_Data['crew'].dtype

dtype('O')

In [43]:
range(len(Credit_Data['cast'][0]))

range(0, 13)

In [44]:
range(len(Credit_Data['cast']))

range(0, 45476)

In [45]:
List_Names = []
for i in range(len(Credit_Data['cast'])):
    if Credit_Data['cast'][i] == []:
        List_Names.append(np.NAN)
    else:
        List_Names.append(Credit_Data['cast'][i][0]['name'])

In [46]:
Credit_Data['Actor1'] = List_Names

In [47]:
List_Actor2 = []
for i in range(len(Credit_Data['cast'])):
    if Credit_Data['cast'][i] == [] or len(Credit_Data['cast'][i])<=1:
        List_Actor2.append(np.NAN)
    else:
        List_Actor2.append(Credit_Data['cast'][i][1]['name'])

In [48]:
Credit_Data['Actor2'] = List_Actor2

In [49]:
List_Actor3 = []
for i in range(len(Credit_Data['cast'])):
    if Credit_Data['cast'][i] == [] or len(Credit_Data['cast'][i])<=2:
        List_Actor3.append(np.NAN)
    else:
        List_Actor3.append(Credit_Data['cast'][i][2]['name'])

In [50]:
Credit_Data['Actor3'] = List_Actor3

In [51]:
def Get_Derector(x):
    d = []
    sts = " "
    for i in x:
        if i.get('job') == 'Director':
            d.append(i.get('name'))
            
    if d == []:
        return np.NAN
    else:
        return sts.join(d)

In [52]:
Credit_Data['Director_Name'] = Credit_Data['crew'].map(lambda x: Get_Derector(x))

In [53]:
Credit_Data.head()

,cast,crew,id,Actor1,Actor2,Actor3,Director_Name
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,Tom Hanks,Tim Allen,Don Rickles,John Lasseter
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,Robin Williams,Jonathan Hyde,Kirsten Dunst,Joe Johnston
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,Walter Matthau,Jack Lemmon,Ann-Margret,Howard Deutch
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,Whitney Houston,Angela Bassett,Loretta Devine,Forest Whitaker
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,Steve Martin,Diane Keaton,Martin Short,Charles Shyer

In [54]:
Credit_Data.drop(columns = ['cast','crew'],axis=1,inplace=True)

In [55]:
Credit_Data.head()

      id           Actor1          Actor2          Actor3    Director_Name
0    862        Tom Hanks       Tim Allen     Don Rickles    John Lasseter
1   8844   Robin Williams   Jonathan Hyde   Kirsten Dunst     Joe Johnston
2  15602   Walter Matthau     Jack Lemmon     Ann-Margret    Howard Deutch
3  31357  Whitney Houston  Angela Bassett  Loretta Devine  Forest Whitaker
4  11862     Steve Martin    Diane Keaton    Martin Short    Charles Shyer

In [63]:
Credit_Data['id'][Credit_Data['id']==1]

Series([], Name: id, dtype: int64)

In [65]:
Credit_Data.to_csv('Credit_Data.csv',header=True, index=False)